.input {
  border-radius: ac(12px, 8px);
  padding: ac(20px, 12px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: var(--cl-white);
  background: rgba(8, 9, 10, 1);

  font-size: 20px;
  line-height: 1.219;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}
