<div class="achievements__bottom" data-tab-id="0">
  <div class="achievements__info-tab">
    <p>
      Всі наші угоди ви можете знайти у відкритому доступі в наших соц мережах.
      Тут ми зібрали одні з найкращих угод в трейдингу і ділимось ними з вами.
      Для відпрацювання таких угод потрібнен досвід та знання.
    </p>
    <ul>
      <li><span>Біржа:</span> Binance;</li>
      <li><span>Стиль торгівлі:</span> Скальпінг;</li>
      <li><span>Автор:</span> Ребрина Петро;</li>
      <li><span>Робочий об’єм:</span> 50 000-200 000$;</li>
      <li><span>Плече:</span> х10</li>
    </ul>
  </div>
  <div class="achievements__tabs-slider-wrap">
    <div class="swiper achievements__screenshot-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_2.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_3.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_4.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_5.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_6.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_7.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_8.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_9.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_10.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_11.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_12.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_13.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_14.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_15.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_16.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_17.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_18.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_19.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
      </div>
      <div class="achievements__screenshot-slider-bullets"></div>
      <div class="achievements__screenshot-slider-nav">
        <button class="arrow-btn achievements__screenshot-slider-nav-btn prev">
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "arrow-left",
                            "size": "45"
                        }'
          ></include>
        </button>
        <button
          class="arrow-btn revert achievements__screenshot-slider-nav-btn next"
        >
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "arrow-right",
                            "size": "45"
                        }'
          ></include>
        </button>
      </div>
    </div>
  </div>
</div>
