<div class="achievements__bottom" data-tab-id="2">
  <div class="achievements__info-tab">
    <p>
      Результати наших студентів ми вимірюємо виключно в долларовому
      еквіваленті. Це саме те, заради чого кожен з нас прийшов у цю сферу. Угоди
      взяті з нашого проєкту PROFIT, куди попадають наші студенти після
      навчання.
    </p>
    <ul>
      <li><span>Досвід у трейдингу:</span> 6 місяців</li>
      <li><span>Торговий депозит:</span> 1 000$</li>
      <li><span>Плече:</span> х10-х20</li>
    </ul>
  </div>
  <div class="achievements__tabs-slider-wrap">
    <div class="swiper achievements__screenshot-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_1.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_2.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_3.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_4.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_5.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_6.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_7.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_8.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_9.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_10.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_11.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_12.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_13.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_14.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_15.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_16.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_17.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_18.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_19.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/studtrade_20.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
      </div>
      <div class="achievements__screenshot-slider-bullets">
        <span class="achievements__screenshot-slider-bullet"></span>
      </div>

      <div class="achievements__screenshot-slider-nav">
        <button class="arrow-btn achievements__screenshot-slider-nav-btn prev">
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "arrow-left",
                            "size": "45"
                        }'
          ></include>
        </button>
        <button
          class="arrow-btn revert achievements__screenshot-slider-nav-btn next"
        >
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "arrow-right",
                            "size": "45"
                        }'
          ></include>
        </button>
      </div>
    </div>
  </div>
</div>
