<div class="achievements__bottom" data-tab-id="1">
  <div class="achievements__info-tab">
    <p>
      Наш прямий обов’язок як компанії приймати участь у свіх світових турнірах
      по трейдингу на Binance. І ми не просто приймаємо участь, а й забираємо
      призові місця. Якщо одна перемога на турнірі це співпадіння, то чотири це
      вже система. Наша система працює на 100%.
    </p>
    <ul>
      <li><span>Учасників:</span> 500 000+</li>
      <li><span>Команди:</span> 5 000+</li>
      <li><span>Призовий фонд:</span> 4 000 000$</li>
      <li><span>Тип ринку:</span> Futures</li>
      <li><span>Тип турніру:</span> міжнародний</li>
    </ul>
  </div>
  <div class="achievements__tabs-slider-wrap">
    <div class="swiper achievements__screenshot-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_4.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_2.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_3.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_1.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
      </div>
      <div class="achievements__screenshot-slider-bullets"></div>
      <div class="achievements__screenshot-slider-nav">
        <button class="arrow-btn achievements__screenshot-slider-nav-btn prev">
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "arrow-left",
                            "size": "45"
                        }'
          ></include>
        </button>
        <button
          class="arrow-btn revert achievements__screenshot-slider-nav-btn next"
        >
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "arrow-right",
                            "size": "45"
                        }'
          ></include>
        </button>
      </div>
    </div>
  </div>
</div>
