@import 'hero.pcss';
@import 'about-us.pcss';
@import 'achievements.pcss';
@import 'scalping.pcss';
@import 'projects.pcss';
@import 'owners.pcss';
@import 'blog.pcss';
@import 'socials.pcss';
@import 'contact-us.pcss';
