<div class="achievements__bottom" data-tab-id="0">
  <div class="achievements__info-tab">
    <p>
      You can find all our trades in the open access on our social networks.
      Here, we have collected some of the best deals in trading and shared them
      with you. Experience and knowledge are needed to work out such trades.
    </p>
    <ul>
      <li><span>Exchange::</span> Binance</li>
      <li><span>Trading style:</span> Scalping</li>
      <li><span>Author:</span> Petro Rebryna</li>
      <li><span>Trading volume</span> 50 000-200 000$</li>
      <li><span>Leverage:</span> х10</li>
    </ul>
  </div>
  <div class="achievements__tabs-slider-wrap">
    <div class="swiper achievements__screenshot-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_14.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_15.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_16.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_17.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_18.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_13.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_12.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_11.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_19.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_10.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_2.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_6.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_5.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_9.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_4.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_3.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_8.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/trade_7.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
      </div>
      <div class="achievements__screenshot-slider-bullets"></div>
      <div class="achievements__screenshot-slider-nav">
        <button class="arrow-btn achievements__screenshot-slider-nav-btn prev">
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "circle-arrow-left",
                            "size": "45"
                        }'
          ></include>
          <span class="arrow-btn__dot"></span>
        </button>
        <button
          class="arrow-btn revert achievements__screenshot-slider-nav-btn next"
        >
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "circle-arrow-right",
                            "size": "45"
                        }'
          ></include>
          <span class="arrow-btn__dot"></span>
        </button>
      </div>
    </div>
  </div>
</div>
