<div class="achievements__bottom" data-tab-id="1">
  <div class="achievements__info-tab">
    <p>
      Our direct duty as a company is to take part in world tournaments on
      trading on Binance. And we do not just participate but also take away
      prizes. If one victory in the tournament is a coincidence, then four is
      already a system. Our system works 100%.
    </p>
    <ul>
      <li><span>Participants:</span> 500 000+</li>
      <li><span>Teams:</span> 5 000+</li>
      <li><span>Prize fund:</span> 4 000 000$</li>
      <li><span>Market type:</span> Futures</li>
      <li><span>Tournament type:</span> International</li>
    </ul>
  </div>
  <div class="achievements__tabs-slider-wrap">
    <div class="swiper achievements__screenshot-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_4.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_2.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_3.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/screenshots/tournament_1.png"
            alt=""
            class="achievements__screenshot"
          />
        </div>
      </div>
      <div class="achievements__screenshot-slider-bullets"></div>
      <div class="achievements__screenshot-slider-nav">
        <button class="arrow-btn achievements__screenshot-slider-nav-btn prev">
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "circle-arrow-left",
                            "size": "45"
                        }'
          ></include>
          <span class="arrow-btn__dot"></span>
        </button>
        <button
          class="arrow-btn revert achievements__screenshot-slider-nav-btn next"
        >
          <include
            src="./html/components/icon.html"
            locals='{
                            "class": "arrow-btn__icon",
                            "icon": "circle-arrow-right",
                            "size": "45"
                        }'
          ></include>
          <span class="arrow-btn__dot"></span>
        </button>
      </div>
    </div>
  </div>
</div>
