<footer class="footer">
  <div class="cont">
    <a href="./index.html" class="logo">
      <img src="./assets/images/logo.svg" alt="" />
    </a>
    <navbar class="navbar">
      <a href="">About Us</a>
      <a href="">Job Board</a>
      <a href="">Insights Hub</a>
      <a href="">Meet the team</a>
      <a href="">Contact Us</a>
    </navbar>
    <div class="bottom-info">
      <p>© 2023 BOLD Agency</p>

      <navbar class="navbar">
        <a href="">Terms</a>
        <a href="">Cookies</a>
        <a href="">Privacy policy</a>
      </navbar>
    </div>

    <a
      href="https://www.boldidentities.com/"
      target="_blank"
      id="bold-credits"
    ></a>
  </div>
</footer>
