<div class="notify">test test test testtesttesttest test test test</div>
<footer class="footer">
  <div class="container">
    <div class="footer__nav-wrap">
      <div class="footer__nav">
        <a href="/#about-us" class="footer__nav-item">Про нас</a>
        <a href="/#achievements" class="footer__nav-item">Досягнення</a>
        <a href="/#scalping" class="footer__nav-item">Scalping</a>
        <a href="/university" class="footer__nav-item">Навчання</a>
      </div>
      <a href="./index.html" class="footer__logo">
        <img src="./assets/images/logo.svg" alt="" />
      </a>
      <div class="footer__nav">
        <!-- <a href="#" class="footer__nav-item">Ком’юніті</a> -->
        <a href="/#blog" class="footer__nav-item">Блог</a>
        <a href="#contact-us" class="footer__nav-item">Контакти</a>
        <div class="footer__nav-socials">
          <a
            href="https://www.instagram.com/peterson.trade/?igsh=MW91bGkydXI1dW15bA%3D%3D"
            target="_blank"
            class="footer__nav-socials-item"
          >
            <include
              src="./html/components/icon.html"
              locals='{
                    "class": "footer__nav-socials-icon",
                    "icon": "ig-v2",
                    "size": "24"
                }'
            ></include>
          </a>
          <a
            href="https://www.youtube.com/channel/UCadcDLax-1RXvTHaO0Y3zyw"
            target="_blank"
            class="footer__nav-socials-item"
          >
            <include
              src="./html/components/icon.html"
              locals='{
                    "class": "footer__nav-socials-icon",
                    "icon": "yt-v2",
                    "size": "24"
                }'
            ></include>
          </a>
          <a
            href="https://t.me/petersontradeofficial"
            target="_blank"
            class="footer__nav-socials-item"
          >
            <include
              src="./html/components/icon.html"
              locals='{
                    "class": "footer__nav-socials-icon",
                    "icon": "tg-v2",
                    "size": "24"
                }'
            ></include>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__contacts">
      <a href="tel:+38 (096) 68-59-162" class="footer__phone">
        +38 (096) 68-59-162
      </a>
      <div class="footer__address-wrap">
        <a
          href="https://docs.google.com/document/d/15DYCnb3m_Z3-VOWWyQ-_MQeYIgUqN5jwSoK-TK8S41I/view"
          target="_blank"
          class="footer__credentials-link"
          >Політика конфіденційності</a
        >
        <div class="footer__address">
          Україна, м. Київ, вул. Богдана Хмельницького, 10
        </div>
        <a
          href="https://drive.google.com/file/d/1qLy2RrY_9Lfu1G4H9J4MNqpPXXSy4Ire/view"
          target="_blank"
          class="footer__credentials-link"
          >Публічний договір</a
        >
      </div>
    </div>
  </div>
</footer>
