<header class="header fixed">
  <div class="container">
    <div class="header__content">
      <a href="/" class="header__logo-link">
        <img
          src="assets/images/logo.svg"
          alt="Peterson trage"
          class="header__logo"
        />
      </a>
      <div class="header__main-nav">
        <a href="#" class="header__nav-link">Навчання</a>
        <a href="#" class="header__nav-link">Ком’юніті</a>
      </div>

      <div class="header__additional-nav">
        <a href="#" class="header__nav-link">Контакти</a>
        <div>UA</div>
        <div class="header__socials-wrap">
          <a href="#" class="header__socials-item">
            <include
              src="./html/components/icon.html"
              locals='{
                    "class": "social-card__icon",
                    "icon": "ig-v2",
                    "size": "24"
                }'
            ></include>
          </a>
          <a href="#" class="header__socials-item">
            <include
              src="./html/components/icon.html"
              locals='{
                    "class": "social-card__icon",
                    "icon": "yt-v2",
                    "size": "24"
                }'
            ></include>
          </a>
          <a href="#" class="header__socials-item">
            <include
              src="./html/components/icon.html"
              locals='{
                    "class": "social-card__icon",
                    "icon": "tg-v2",
                    "size": "24"
                }'
            ></include>
          </a>
        </div>

        <button class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
